### Vagrant ###
.vagrant/
*-console.log

### User settings ###
/settings
/.gitconfig
/.bashrc
/.zshrc
sh/provision/user.sh

### Shared folders ###
dev/
smb/
db/

### Third Party Shellscripts ###
sh/eZServerMonitor.sh
sh/docker-check-config.sh
sh/ubuntu-kernel-upgrader-script.sh
