### Vagrant ###
.vagrant/
.gitconfig
*-console.log

### Shared folders ###
dev/
smb/
db/

### Third Party Shellscripts ###
sh/eZServerMonitor.sh
sh/docker-check-config.sh
sh/ubuntu-kernel-upgrader-script.sh
